<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43625263520-itrnt9acml4m5ioikjctcu8v7ijtvpuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43625263520-itrnt9acml4m5ioikjctcu8v7ijtvpuh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>43625263520-34d3sagf5s584u1fjp4djgqajt09t2dm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQzsH_R1W33WYfkMM0fhXuArJOMxwOCeg</string>
	<key>GCM_SENDER_ID</key>
	<string>43625263520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>t00r.All-Pets</string>
	<key>PROJECT_ID</key>
	<string>petsall</string>
	<key>STORAGE_BUCKET</key>
	<string>petsall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43625263520:ios:954aed4672fae1964174c5</string>
</dict>
</plist>